@import './base.css';

#app {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

#navBar {
  position: absolute;
  top: 1%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-bottom: 2px solid #ffffff;
}

.nav-link {
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: rgb(44, 44, 44);
  background-color: #a1a1a1;
}

a,
.green {
  text-decoration: none;
  color: hsl(0, 0%, 17%);
  transition: 0.4s;
  padding: 3px;
}

#loginBody .loginTextArea {
  font-size: 13px;
}
#loginBody {
  max-width: 500px;
  width: 100%;
  background-color: #e0dfdf;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 auto;
}

/*Child Selector*/
#loginBody > h2 {
  color: rgb(0, 0, 0);
  font-size: larger;
}
#loginWelcomeText {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
}
/* Class Selector */
.loginTextArea {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
/*Adjacent Sibling Selector */
.loginTextArea + #logInButton {
  margin-top: 5px;
}

#logInButton {
  background-color: #17447e;
  color: white;
  padding: 10px;
  width: 70%;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loginBlueText {
  color: #4a9cff;
  cursor: pointer;
}

#postsFeed {
  width: 500px;
  margin: 50px auto;
}

.post {
  background-color: #e6e6e6; 
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative
}

.postUpperBar {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.postUpperBar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.postBody img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}
.postBody {
  margin-top: 5px;
}
.postText {
  font-size: 14px;
  color: #333;
}

.image {
  width: 60px;
  height: 55px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsl(0, 0%, 25%);
  }
}

@media (min-width: 1024px) {
  body {
    width: 100%;
    display: flex;
    place-items: center;
  }
}
.topButtonContainer {
  display: flex;
  justify-content: center; 
  margin-top: 10px;
}

.logoutButton {
  background-color: #4a9cff; 
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  
}
.logoutButton:hover {
  background-color: #3a7ccc; 
}
#buttonsContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.actionButton {
  background-color: #4a9cff; 
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
}

.actionButton:hover {
  background-color: #3a7ccc; 
}

.deleteButton {
  background-color: #4a9cff; 
}
.deleteButton:hover {
  background-color: #3a7ccc;
}